.previous {
      position: absolute;
      left: 1250px;
      top: 405px;
      border-color: #dbd7cc;
      color: dodgerblue;
      border-width: thin;
    }
    .next {
      position: absolute;
      left: 1350px;
      top: 405px;
      border-color: #dbd7cc;
      color: dodgerblue;
      border-width: thin;
    }

    .filipe {
      color: green;
    }
    .ivan {
      color: red;
    }
    h1 {
      position: absolute;
      left: 280px;
      top: 250px;
    }
    .impact {
      font-family: Arial, Helvetica, sans-serif;
    }
    h6 {
      position: absolute;
      left: 600px;
      top: 320px;
    }
    .stas {
      margin-top: 400px;
      margin-left: 200px;
      margin-bottom: 300px;
      margin-right: 200px;
    }
